{
    apikey                    = ${apikey}
    cluster_name              = ${cluster_name}
    clusters                  = ${cluster_name}
    image_version             = ${portworx_version}
    secret_type               = ${secret_type}
}